.navbar {
    background-color: #1c0d05 !important;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.bg-black {
    background-color: black;
}

.strips {
    border-top: 1px solid gold;
}

.text-content {
    font-family: 'Tangerine', sans-serif;
    color: gold;
    position: absolute;
    padding: 0 5px;
    background-color: black;
    top: -10px;
    left: 130px;
    z-index: 2000;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .text-content {
        font-size: 2rem;
        left: 70px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .text-content {
        font-size: 2.5rem;
        left: 140px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1024px) {
    .text-content {
        font-size: 2.5rem;
        left: 130px;

    }
}